### DataFrames -
---
DataFrames - A tabular data structure with  rows and columns (2-D)
             Similar to an excel spreadsheet

In [8]:
import pandas as pd

In [9]:
data = {"Name" : ["Arijit", "K.K", "Rupam", "Anupam"],
        "Age" : [32, 52, 45, 40]
    }

# Converting dictionary into dataframe
df = pd.DataFrame(data, index=["Singer 1", "Singer 2", "Singer 3", "Singer 4"])
print(df)

# To access a single row similar to series we can use loc[] property
print("\n",df.loc["Singer 1"])
print("\n",df.iloc[0])

            Name  Age
Singer 1  Arijit   32
Singer 2     K.K   52
Singer 3   Rupam   45
Singer 4  Anupam   40

 Name    Arijit
Age         32
Name: Singer 1, dtype: object

 Name    Arijit
Age         32
Name: Singer 1, dtype: object

In [12]:
# Add a new column
df["Typo"] = ["H&B modern & classical", "Classical hindi", "Bengali rock", "Modern Bengali"]
print(df)

            Name  Age                    Typo
Singer 1  Arijit   32  H&B modern & classical
Singer 2     K.K   52         Classical hindi
Singer 3   Rupam   45            Bengali rock
Singer 4  Anupam   40          Modern Bengali

In [21]:
# Add a new row
newRow = pd.DataFrame([{"Name" : "Emiway",
                        "Age" : 28,
                        "Typo" : "Raper"}], index=["Singer 5"])
df = pd.concat([df, newRow])
print(df)

            Name  Age                    Typo
Singer 1  Arijit   32  H&B modern & classical
Singer 2     K.K   52         Classical hindi
Singer 3   Rupam   45            Bengali rock
Singer 4  Anupam   40          Modern Bengali
Singer 5  Emiway   28                   Raper