### Selection -
---

In [1]:
import pandas as pd

In [25]:
# df = pd.read_csv("../data/pokemon.csv")
df = pd.read_csv("../data/pokemon.csv", index_col="Name")
# print(df)

In [26]:
# Selection by column

# print(df["Name"].to_string())
# print(df["Height"])
# print(df["Weight"])
print(df[["Height", "Weight"]])

            Height  Weight
Name
Bulbasaur      0.7     6.9
Ivysaur        1.0    13.0
Venusaur       2.0   100.0
Charmander     0.6     8.5
Charmeleon     1.1    19.0
...            ...     ...
Moltres        2.0    60.0
Dratini        1.8     3.3
Dragonair      4.0    16.5
Dragonite      2.2   210.0
Mewtwo         2.0   122.0

[150 rows x 2 columns]

In [ ]:
# Selection by row

# print(df.loc[0])
# print(df.loc["Bulbasaur"])
# print(df.loc["Pikachu", ["Height", "Weight"]])
# print(df.loc["Pikachu":"Sandslash", ["Height", "Weight"]])
print(df.iloc[0:11, 0:3])

            No  Type1   Type2
Name
Bulbasaur    1  Grass  Poison
Ivysaur      2  Grass  Poison
Venusaur     3  Grass  Poison
Charmander   4   Fire     NaN
Charmeleon   5   Fire     NaN
Charizard    6   Fire  Flying
Squirtle     7  Water     NaN
Wartortle    8  Water     NaN
Blastoise    9  Water     NaN
Caterpie    10    Bug     NaN
Metapod     11    Bug     NaN

In [42]:
pokemon = input("Enter a pokemon name : ")
pokemon = pokemon.capitalize()

try:
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found")

Dd not found