### Aggregation Function -
---
Aggregation function - Reduces a set of values into a sigle summary value
                       used to summarize and analyze data.
                       Often used with groupby() function

In [2]:
import pandas as pd
df = pd.read_csv("../data/pokemon.csv")
# print(df)

Multiple column
___

In [3]:
# mean() aggregate function
print(df.mean(numeric_only=True))

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

In [4]:
# sum() aggregate function
print(df.sum(numeric_only=True))

No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64

In [5]:
# min() aggregate function
print(df.min(numeric_only=True))

No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64

In [6]:
# max() aggregate function
print(df.max(numeric_only=True))

No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

In [7]:
# count() aggregate function
print(df.count())

No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

Single column
___

In [8]:
print(df["Height"].mean())
print(df["Weight"].mean())
print(df["Legendary"].mean())

1.2
46.23133333333334
0.02666666666666667

In [9]:
print(df["Height"].sum())
print(df["Weight"].sum())
print(df["Legendary"].sum())

180.0
6934.700000000001
4

In [10]:
print(df["Height"].min())
print(df["Weight"].min())
print(df["Legendary"].min())

0.2
0.1
0

In [11]:
print(df["Height"].max())
print(df["Weight"].max())
print(df["Legendary"].max())

8.8
460.0
1

In [12]:
print(df["Height"].count())
print(df["Weight"].count())
print(df["Legendary"].count())
print(df["Type1"].count())
print(df["Type2"].count())

150
150
150
150
67

In [13]:
group = df.groupby("Type1")

# min of each type
print(group["Height"].mean())

Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.371429
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64

In [14]:
# sum of each type
print(group["Height"].sum())

Type1
Bug         10.8
Dragon       8.0
Electric     7.7
Fairy        1.9
Fighting     8.3
Fire        14.6
Ghost        4.4
Grass       13.0
Ground       6.8
Ice          3.1
Normal      21.7
Poison      17.1
Psychic      9.6
Rock        16.6
Water       36.4
Name: Height, dtype: float64

In [15]:
# min values of each type
print(group["Height"].min())

Type1
Bug         0.3
Dragon      1.8
Electric    0.3
Fairy       0.6
Fighting    0.5
Fire        0.6
Ghost       1.3
Grass       0.4
Ground      0.2
Ice         1.4
Normal      0.3
Poison      0.4
Psychic     0.9
Rock        0.4
Water       0.3
Name: Height, dtype: float64

In [16]:
# max values of each type
print(group["Height"].max())

Type1
Bug         1.5
Dragon      4.0
Electric    1.6
Fairy       1.3
Fighting    1.6
Fire        2.0
Ghost       1.6
Grass       2.0
Ground      1.9
Ice         1.7
Normal      2.2
Poison      3.5
Psychic     2.0
Rock        8.8
Water       6.5
Name: Height, dtype: float64

In [ ]:
# count of pokemon of each type
print(group["Height"].count())

Type1
Bug         12
Dragon       3
Electric     9
Fairy        2
Fighting     7
Fire        12
Ghost        3
Grass       12
Ground       8
Ice          2
Normal      22
Poison      14
Psychic      7
Rock         9
Water       28
Name: Height, dtype: int64